<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div class="row">
	<div class="col-xs-12 col-sm-12 overflow-x">
		<table class="table-striped width-100 display compact"  id="tabela_candidatos">
			<thead>
				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Email</th>
					<th>Cep</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${lista}">
					<td th:text="${item.nome}"></td>
					<td th:text="${item.cpf}"></td>
					<td th:text="${item.email}"></td>
					<td th:text="${item.cep}"></td>
					<td>
						<button  class = "btn-transparent"	type="button" title = "Alterar Item">
							<i th:data-id="${item.id}" class="ico fa fa-edit"	th:onclick="alterarItem(this.getAttribute('data-id'))"></i>
						</button>&nbsp;&nbsp; 
						<button type="button"  class = "btn-transparent" title = "Excluir Item">
							<i th:data-id="${item.id}" class="ico fa fa-trash" th:onclick="deletarItem(this.getAttribute('data-id'))"></i>
						</button>
					</td>	
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Email</th>
					<th>Cep</th>
					<th>Acao</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>